.topic-container{
    border: 1px solid gray;
    border-radius: 5px;
}
.topic-container img{
    margin: 0px;
    width: 100%;
    background-color: #1E1E1E;
    border-radius: 5px;
}
.topic-info-container{
    padding: 10px 2px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    color: rgb(86, 126, 4);
}
.topic-info-container h5{
    margin: 0px;
}

.start-btn{
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #e0c3c3;
    font-weight: bold;
    background-color: rgb(81, 79, 79);
}
.start-btn:hover{
    background-color: #1E1E1E;
    color: #e0c6c6;
}