.question-container{
    border: 2px solid gray;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.option-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.question-eye-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}